*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px, repeat(2, 1fr);
}

/* HEADER */
header {
    grid-row: 1;
    padding-left: 10%;
    padding-right: 10%;
    background: #fff;
    height: 100px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

header .left {
    grid-column: 1;
    grid-row: 1;
    height: 100px;
    position: relative;
}

header .right {
    grid-column: 2 / span 5;
    grid-row: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .logo2 {
    position: relative;
    margin-top: 30px;
    height: 50px;
}

header .right .header-bar {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: #F7F7FC;
}

header .right .header-bar a {
    margin-right: 50px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #414141;
}

header .right .profile {
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
}

header .right .profile div {
    position: relative;
    padding-top: 40px;
    background-color: #FFF;
}

header .right .profile div input {
    background: #FFFFFF;
    height: 30px;
    width: 200px;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
}

header .right .profile div input::placeholder {
    padding-left: 15%;
    font-size: 12px;
}

header .right .profile div i {
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 0.8em;
    z-index: 9999;
    color: #6E7191;
}

header .right .profile .search {
    position: relative;
    bottom: 15px;
    right: 30px;
    display: none;
}

header .right .profile a i {
    display: block;
    margin-right: 40px;
    margin-top: 35px;
    color: #414141;
    font-size: 1em;
}

header .right .profile {
    margin-top: 15px;
    height: 50px;
    border-radius: 50%;
}

header .nav-desktop {
    width: 100px;
    text-align: center;
    z-index: 9999;
    position: absolute;
    right: 12%;
    top: 85px;
    background: #FFF;
    display: none;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

header .nav-desktop a {
    padding-top: 7px;
    padding-bottom: 5px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

header .right>a {
    display: none;
}

header .right>i {
    display: none;
}

/* NAVBAR */

nav {
    display: none;
}

nav>p {
    display: none;
}

/* FOOTER */
footer {
    grid-row: 3;
    background: #fff;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
}

footer .information {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

footer .information .title {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom: 20px;
}

footer .copyright {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4E4B66;
}

footer .footer-item1 {
    flex-basis: 30%
}

footer .footer-item1 .logo2 {
    height: 30%;
    margin-bottom: 20px;
}

footer .footer-item1 p {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #6E7191;
}

footer .information .footer-item1 p {
    margin-top: -20px;
}

footer .footer-item2>div {
    display: flex;
    flex-direction: column;
}

footer .footer-item2>div p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

footer .footer-item2>div p a {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4E4B66;
}

footer .footer-item3>div {
    display: grid;
}

footer .footer-item3>div img {
    max-height: 30px;
    margin-bottom: 20px;
}

footer .footer-item4>div {
    display: flex;
    flex-direction: column;
}

footer .footer-item4>div>div .visibility {
    position: absolute;
    color: #6E7191;
}

footer .footer-item4>div>div {
    margin-bottom: 10px;
}

footer .footer-item4>div>div a {
    margin-left: 10px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #6E7191;
}

footer .footer-item4>div>div i {
    width: 10px;
    color: #6E7191;
}

/* MAIN */
main {
    grid-row: 2;
}

main .content-headers {
    position: relative;
    height: 150px;
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #F5F6F8;
    display: flex;
    flex-direction: column;
}

.content-header {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.content-header h2 {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: black;
}

.content-header .right {
    display: flex;
}

.content-header .right .short {
    position: relative;
    margin-right: 30px;
}

.content-header .right .short input {
    height: 40px;
    width: 80px;
    border-radius: 12px;
    border: none;
}

.content-header .right .short select {
    height: 40px;
    width: 80px;
    border-radius: 12px;
    border: none;
    appearance: none;
    padding: 10%;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.content-header .right .short i {
    position: absolute;
    font-size: 0.8em;
    top: 11px;
    right: 10px;
    color: #A0A3BD;
}

.content-header .right .search {
    position: relative;
}

.content-header .right .search input {
    height: 40px;
    width: 200px;
    border-radius: 12px;
    border: none;
}

.content-header .right .search input::placeholder {
    padding-left: 15%;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.content-header .right .search i {
    position: absolute;
    font-size: 0.8em;
    top: 14px;
    left: 10px;
    color: #A0A3BD;
}

.content-mounth {
    display: flex;
    justify-content: space-between;
}

.content-mounth button {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #5F2EEA;
    height: 30px;
    width: 100px;
    background-color: #FFF;
    border: 1px solid #5F2EEA;
    border-radius: 4px;
}

.content-mounth button:hover {
    background: #5F2EEA;
    color: #fff;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px 50px;
    display: block;
    background-color: #FFF;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .card {
    flex-basis: 25%;
    display: flex;
    justify-content: space-around;
}

.content .card .card-movie {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 10px;
    background: #FFFFFF;
    border: 0.5px solid #DEDEDE;
    border-radius: 8px;
}

.content .card .card-movie img {
    width: 100px;
}

.content .card .card-movie button:hover {
    color: #fff;
    background: #5F2EEA;
}

.content .card .card-movie>div {
    width: 100px;
    height: 80px;
    position: relative;
}

.content .card .card-movie div h5 {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #14142B;
}

.content .card .card-movie div p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 8px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #A0A3BD;
}

.content .card button {
    position: absolute;
    bottom: -0px;
    font-family: Mulish, sans-serif;
    color: #5F2EEA;
    font-style: normal;
    font-size: 12px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    width: 100%;
    height: 25px;
    border: 1px solid #5F2EEA;
    border-radius: 4px;
}

.content-pagination {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.content-pagination div {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.content-pagination>div button {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #5F2EEA;
    height: 30px;
    width: 30px;
    background-color: #FFF;
    border: 1px solid #5F2EEA;
    border-radius: 4px;
}

.content-pagination>div button:hover {
    background: #5F2EEA;
    color: #fff;
}



@media screen and (max-width: 975px) {

    /* HEADER */
    header .right>a {
        display: block;
    }

    header .right .header-bar {
        display: none;
    }

    header .right button {
        display: none;
    }

    header .right i {
        display: flex;
        position: relative;
        top: 40px;
        font-size: 1.5em;
        align-items: right;
    }

    header .right a {
        color: #000000;
    }

    header .right .profile img {
        display: none;
    }

    header .right .profile a {
        display: none;
    }

    /* NAVBAR */
    nav {
        display: none;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 100px;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
    }

    nav>p {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        text-align: center;
        background: #FFF;
        border-top: 0.5px solid #DEDEDE;
    }

    nav>div {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: #FFF;
    }

    nav>div>div {
        position: relative;
        padding-top: 30px;
        padding-bottom: 15px;
        background-color: #FFF;
    }

    nav>div>div input {
        background: #FFFFFF;
        height: 50px;
        width: 600px;
        border: 1px solid #DEDEDE;
        border-radius: 4px;
    }

    nav>div>div input::placeholder {
        padding-left: 7%;
        font-size: 16px;
    }

    nav>div>div i {
        position: absolute;
        top: 45px;
        left: 15px;
        font-size: 2em;
        color: #6E7191;
    }

    nav a {
        font-family: Mulish, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.75px;
        color: #14142B;
    }

    nav .cop {
        font-family: Mulish, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.75px;
        color: #6E7191;
    }

    /* FOOTER */
    footer {
        padding-left: 0%;
        padding-right: 0%;
        align-items: center;
    }

    footer .information {
        justify-content: space-between;
        max-width: 80%;
    }

    footer .information .footer-item1 p {
        margin-top: -20px;
    }

    /* CONTENT */

    .cal5,
    .cal6,
    .cal7,
    .cal8 {
        display: none;
    }

    #m7,
    #m8 {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    /* HEADER */
    header .right>a {
        display: block;
    }

    header .right .header-bar {
        display: none;
    }

    header .right button {
        display: none;
    }

    header .right i {
        display: flex;
        position: relative;
        top: 40px;
        font-size: 1.5em;
        align-items: right;
    }

    header .right a {
        color: #000000;
    }

    header .right .profile img {
        display: none;
    }

    header .right .profile a {
        display: none;
    }

    /* NAVBAR */
    nav {
        display: none;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 322%;
        position: absolute;
        top: 100px;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
    }

    nav>p {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        text-align: center;
        background: #FFF;
        border-top: 0.5px solid #DEDEDE;
    }

    nav>div {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: #FFF;
    }

    nav>div>div {
        position: relative;
        padding-top: 30px;
        padding-bottom: 15px;
        background-color: #FFF;
    }

    nav>div>div input {
        background: #FFFFFF;
        height: 50px;
        width: 300px;
        border: 1px solid #DEDEDE;
        border-radius: 4px;
    }

    nav>div>div input::placeholder {
        padding-left: 15%;
        font-size: 16px;
    }

    nav>div>div i {
        position: absolute;
        top: 45px;
        left: 15px;
        font-size: 2em;
        color: #6E7191;
    }

    nav a {
        font-family: Mulish, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.75px;
        color: #14142B;
    }

    nav .cop {
        font-family: Mulish, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.75px;
        color: #6E7191;
    }


    /* FOOTER */
    footer {
        padding-left: 0%;
        padding-right: 0%;
        align-items: center;
    }

    footer .information {
        flex-direction: column;
    }

    footer .information .title {
        margin-top: 20px;
    }

    footer .information .footer-item1 p {
        margin-top: -20px;
    }

    footer .information .footer-item2>div {
        display: flex;
        flex-direction: row;
    }

    footer .information .footer-item2 .title {
        margin-top: -40px;
    }

    footer .information .footer-item3>div {
        display: flex;
        flex-direction: row;
    }

    footer .information .footer-item4>div a {
        display: none;
    }

    footer .information .footer-item4>div i {
        margin-right: 50px;
    }

    footer .information .footer-item4>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer .information .footer-item3>div img {
        margin-right: 20px;
        max-height: 20px;
        margin-bottom: 20px;
    }

    /* CONTENT */
    main .content-headers {
        height: 180px;
    }

    main .content-headers .content-header {
        flex-direction: column;
    }

    main .content-headers .content-header h2 {
        margin-bottom: 10px;
    }

    main .content-mounth button {
        width: 90px;
    }

    .content .card .card-movie img {
        width: 80px;
    }

    .content .card .card-movie>div {
        width: 80px;
        height: 80px;
        position: relative;
    }

    .content {
        padding: 0px 0px;
        display: block;
        background-color: #ffffff00;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cal4,
    .cal5,
    .cal6,
    .cal7,
    .cal8 {
        display: none;
    }

    #m5,
    #m6,
    #m7,
    #m8 {
        display: none;
    }
}